Repository X2CommunityCore/X2WOTCCommunityHighlander, pull requests merged in 2021-03, with the labels that each got.

#857 Override controller r3
  X2WOTCCommunityHighlander/Src/XComGame/Classes/CHHelpers.uc
  X2WOTCCommunityHighlander/Src/XComGame/Classes/UITacticalHUD.uc
  X2WOTCCommunityHighlander/Src/XComGame/Classes/XComTacticalController.uc
  X2WOTCCommunityHighlander/Src/XComGame/Classes/XComTacticalInput.uc
Labels: waiting-on-author

#976 Document syntax for NewGameState in event specification
  .scripts/make_docs/event_tuples.py
  docs_src/docs/index.md
Labels: docs, enhancement

#981 Fix backwards compatibility breaks added by PR #910
  X2WOTCCommunityHighlander/Src/XComGame/Classes/UIImageChip.uc
  X2WOTCCommunityHighlander/Src/XComGame/Classes/UILadderUpgradeScreen.uc
  X2WOTCCommunityHighlander/Src/XComGame/Classes/UIPersonnel_SoldierListItem.uc
  X2WOTCCommunityHighlander/Src/XComGame/Classes/UITLE_SkirmishModeMenu.uc
  X2WOTCCommunityHighlander/Src/XComGame/Classes/X2Action.uc
Labels: bug-highlander, ready-for-merge
