Repository X2CommunityCore/X2WOTCCommunityHighlander, pull requests merged in 2024-09, with the labels that each got.

#1361 Update Chinese localization
  X2WOTCCommunityHighlander/Localization/X2WOTCCommunityHighlander.chn
  X2WOTCCommunityHighlander/Localization/X2WOTCCommunityHighlander.cht
  X2WOTCCommunityHighlander/Localization/XComGame.chn
  X2WOTCCommunityHighlander/Localization/XComGame.cht
Labels: bug-highlander, ready-for-merge

#1345 Make it so the [!] icon in the PCS tab appears only if a PCS slot is empty.
  X2WOTCCommunityHighlander/Src/XComGame/Classes/UIArmory_MainMenu.uc
  X2WOTCCommunityHighlander/Src/XComGame/Classes/UIUtilities_Strategy.uc
Labels: bug-basegame, ready-for-merge

#1374 Set bConstantComplete to true for cleaned up particle systems
  X2WOTCCommunityHighlander/Src/XComGame/Classes/X2UnifiedProjectile.uc
Labels: bug-highlander, ready-for-merge

#1373 Use List.ClearItems() instead of List.Itemcontainer.RemoveChildren() to prevent CTDs with large lists
  X2WOTCCommunityHighlander/Src/XComGame/Classes/UIPhotoboothBase.uc
Labels: bug-basegame, ready-to-review
